* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  font-size: 18px;
  box-sizing: border-box;
  max-width: 100vw;
}

:root {
  --Soft-red: #FF7364;
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --weight-1: 600;
  --weight-2: 700;
  --weight-3: 900;
}

body {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.header-container {
  background-color: #3EBFFF;
  height: 4.6875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.75rem 4.375rem;
}
.header-container .nav-logo {
  width: auto;
  height: 2rem;
}
.header-container .nav-container {
  display: flex;
}
.header-container .nav-container .nav-hamburger {
  display: none;
}
.header-container .nav-container .nav-item-container {
  display: flex;
  list-style: none;
}
.header-container .nav-container .nav-item-container .nav-item {
  text-decoration: none;
  color: var(--White);
  padding: 0.9375rem 30px;
  font-family: "Barlow";
}
.header-container .nav-container .nav-item-container .nav-item:hover {
  color: var(--Very-dark-desaturated-blue);
  transition: all 0.2s ease-out;
}
.header-container .nav-container .nav-item-container .nav-item-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: var(--weight-2);
  color: var(--Very-dark-desaturated-blue);
  background-color: var(--White);
  border-radius: 2rem;
  padding: 0.9375rem 1.875rem;
  margin-left: 10px;
}
.header-container .nav-container .nav-item-container .nav-item-btn:hover {
  background-color: hsla(0deg, 0%, 93%, 0.349);
  color: var(--White);
  transition: all 0.2s ease-out;
}

.first-section-container {
  max-width: 100vw;
  height: 40em;
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first-section-container .title-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-section-container .title-container .title-container-h1 {
  margin-bottom: 1em;
  font-family: "Fraunces";
  color: var(--White);
  font-weight: var(--weight-3);
  text-transform: uppercase;
  letter-spacing: 0.625rem;
  font-size: 3em;
}
.first-section-container .title-container .container-img {
  padding-bottom: 2rem;
}

.second-section-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.second-section-container .text-container {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 150px 120px;
}
.second-section-container .text-container h3 {
  font-size: 2rem;
  line-height: 2.8125rem;
  color: var(--Very-dark-desaturated-blue);
}
.second-section-container .text-container p {
  font-family: "Barlow", sans-serif;
  line-height: 1.875rem;
  margin-right: 6.25rem;
  color: var(--Very-dark-grayish-blue);
}
.second-section-container .img-container {
  flex: 50%;
  background-color: var(--Yellow);
}
.second-section-container .img-container img {
  height: fit-content;
}

.third-section-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.third-section-container .text-container {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 150px 120px;
}
.third-section-container .text-container h3 {
  font-size: 2rem;
  line-height: 2.8125rem;
  color: var(--Very-dark-desaturated-blue);
}
.third-section-container .text-container p {
  font-family: "Barlow", sans-serif;
  line-height: 30px;
  margin-right: 6.25rem;
  color: var(--Very-dark-grayish-blue);
}
.third-section-container .img-container {
  flex: 50%;
  background-color: var(--Soft-red);
}
.third-section-container .img-container img {
  height: fit-content;
}

.two-images-section {
  display: flex;
  flex-direction: row;
  height: 37.5rem;
  position: relative;
  width: 100%;
}
.two-images-section .first-image {
  flex: 50%;
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.two-images-section .first-image .text-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 6rem;
  color: var(--Dark-desaturated-cyan);
  padding-top: 18rem;
}
.two-images-section .first-image .text-area h3 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
.two-images-section .first-image .text-area p {
  padding: 0rem 5rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.5625rem;
}
.two-images-section .second-image {
  flex: 50%;
  background-image: url(../images/desktop/image-photography.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.two-images-section .second-image .text-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 6rem;
  color: var(--Very-dark-desaturated-blue);
  padding-top: 18rem;
}
.two-images-section .second-image .text-area h3 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
.two-images-section .second-image .text-area p {
  font-family: "Barlow", sans-serif;
  padding: 0rem 5rem;
  line-height: 1.5625rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 150px 100px;
}
.testimonials h2 {
  text-transform: uppercase;
  color: var(--Grayish-blue);
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 50px;
}
.testimonials ul {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.testimonials ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}
.testimonials ul li p {
  margin-top: 30px;
  line-height: 1.6rem;
  font-family: "Barlow", sans-serif;
  color: var(--Very-dark-grayish-blue);
  text-align: center;
}
.testimonials ul li .name {
  margin-top: 1.25rem;
  color: var(--Very-dark-desaturated-blue);
  font-weight: var(--weight-3);
}
.testimonials ul li .title {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  color: var(--Grayish-blue);
}
.testimonials ul li img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.pre-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.pre-footer img {
  width: 25%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8FD4C6;
  padding: 50px;
}
.footer .footer-nav {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  list-style: none;
  justify-content: space-between;
}
.footer .footer-nav .logo-footer svg {
  fill: var(--Dark-desaturated-cyan);
}
.footer .footer-nav li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}
.footer .social-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer .social-icons li {
  margin-top: 30px;
  padding: 0px 20px;
}
.footer .attribution {
  font-size: 18px;
  margin-top: 50px;
  font-family: "barlow", sans-serif;
}
.footer .attribution a {
  font-size: 18px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
